.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.map-container .map-title {
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.map-container .leaflet-container {
  flex-grow: 1;
  border-radius: 8px;
}
