.invoices-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #2d2d2d;
}

.invoices-title {
  margin-top: 0;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.invoice-details p {
  text-align: left;
  margin-bottom: 0.5rem;
}

.company-info {
  margin-top: 5rem;
}