.invoices-container {
  border-top: 2px solid #444;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #2d2d2d;
  align-self: flex-start;
}

.invoices-title {
  margin-top: 0;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}