.layout-container {
  padding: 2rem;
}

.layout-searchbar {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #2d2d2d;

}

.nav-menu {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;


  border: 1px solid #e2e8f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.nav-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.nav-link {
  color: #3182ce;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.content-container {
   padding: 2rem;

}