body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.nav-menu {
  flex-basis: 250px;
  flex-shrink: 0;
  background-color: #2d2d2d;
  padding: 1.5rem;
  border-right: 1px solid #444;
}

.nav-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
}

.nav-menu h3 {
  margin-top: 0;
}

.nav-menu a {
  display: block;
  color: #6495ED;
  text-decoration: none;
  padding: 0.5rem 0;
}

.nav-menu a:hover {
  text-decoration: underline;
}


.content-container {
  flex-grow: 1;
  display: flex;
  padding: 1.5rem;
  overflow-y: auto;
}

.layout-searchbar {
  flex-basis: 300px;
  flex-shrink: 0;
  background-color: #2d2d2d;
  padding: 1.5rem;
  border-left: 1px solid #444;
}