.layout-container {
  display: flex;
  height: 100vh;
  padding: 2rem;

}

.nav-menu {
  flex-basis: 250px;
  flex-shrink: 0;
  background-color: #2d2d2d;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #e2e8f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.nav-title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #444;
}

.nav-menu h3 {
  margin-top: 0;
}

.nav-menu h4 {
  margin-top: 0;
  border-bottom: 2px solid #444;
}

.nav-menu a {
  display: block;
  color: #6495ED;
  text-decoration: none;
  padding: 0.5rem 0;
}

.nav-menu a:hover {
  text-decoration: underline;
}


.nav-link {
  color: #3182ce;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}


.content-container {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  min-width: 0;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


table {
  width: 100%;
  text-align: center;
}