.accounts-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  align-self: flex-start;
  padding: 1.5rem;
  background-color: #2d2d2d;

}

.accounts-title {
  margin-top: 0;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th, .dataTable td {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #444;
}

.dataTable th {
  font-weight: bold;
}

.dataTable tbody tr:hover {
  background-color: #3a3a3a;
}