.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #1a1a1a;
  color: white;
}

.login-container {
  background-color: #2d2d2d;
  padding: 2rem 3rem;
  border-radius: 8px;
  border: 1px solid #444;
  text-align: center;
  width: 100%;
  max-width: 400px;
}


.login-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.login-container h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.login-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-container input {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.login-container button {
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  background-color: #6495ED;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}